html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.container {
  margin: 10px auto;
}

h1 {
	font-family: naz;
  direction: rtl;
  margin-top: 18px;
  margin-bottom: 9px;
    color: #DC1AE8;

}

a {
  background-color: transparent;
  text-align: right;
  direction: rtl;
  color: lime;
}

span {
  color: #91b42f;
  font-family: naz;
  direction: rtl;
}
.dev {
  direction: rtl;
  text-align: right: ;
}

.Rate {
  width: 100px;
  margin: 0 auto;
  margin-top: -5px;
  direction: ltr;

}

.Rate img {
  width: 16px;
  padding: 0;

}

button {
  font-family: naz;
  background-color: lime;
  outline: none;
  border: none;
  color: white;

}

.app-info span {


}

body{
  background-color: #f1f1f1;
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: naz;
  background-color: #f1f1f1;
}


.navbar {
  position: fixed;
  top: 0 !important;
  display: block !important;
  overflow: hidden;
  background-color: lime;
  font-family: Arial, Helvetica, sans-serif;
  direction: rtl;
  float: right;
  width: 100%;
  padding-bottom: 0;
  z-index: 1;
box-shadow: 0 2px 4px rgba(0,0,0,.2);
padding-top: 0 !important;
padding-bottom: 0 !important;
margin-bottom: 100px !important;
}

.navbar a {
  float: right !important;
  font-size: 18px;
  color: white;
  text-align: left !important;
  padding: 14px 16px;
  text-decoration: none;
  direction: rtl !important;
   font-family: naz;


}

.dropdown {
  float: right !important ;
  overflow: hidden !important;
  display: inline-block !important;
  padding-bottom: 0;

}

.dropdown .dropbtn {
  font-size: 18px;
  border: none;
  outline: none !important;
  color: white;
  padding: 16px 18px !important;
  background-color: inherit;
  margin: 0 !important;
  font-family: naz;
  font-weight: bold;
  }

 .dropbtn:hover {
  background-color: white;
  color: #DC1AE8;
}

.dropdown-content {

  float: right;
  display: none;
  position: fixed;
  background-color: white;
  width: 100%;
  right: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}

.dropdown-content .header {
  background: red;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: white;
  color: #DC1AE8;
}

/* Create three equal columns that floats next to each other */
.column {
  float: right;
  width: 20%;
  padding: 10px;
  background-color:white;

}

.column a {
  float: none;
  color: purple;
  padding: 16px;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: center !important;
  text-align: center;
  border-radius: 5px;
  /*border-right: 5px solid lime;
  margin-bottom: 5px;
  */
}

.column a:hover {
  background-color: #ddd;
  background-color: rgba(0,255,0,.5);
  background-color:#DC1AE8 ;
  color: white;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
a.icon {
  padding: 18px 50px;
  text-align: center;
  font-weight: bold;
  margin: 0;
  outline: 0;
  text-decoration: none;
}

form{
  font-family: naz;
  margin-top: 5px;
  margin-left: 10px;
  float: left;
    position: relative;
    transition: all 1s;
    width: 200px;
    cursor: pointer;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

input{
  font-family: naz;
    position: absolute;
    top: 0;
    left: 0;
    direction: rtl;
    float: left;
    width: 80%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: block;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;

}

form .fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: white;
    background-color: lime;
    text-align: center;
    font-size: 16px;
    transition: all 1s;
}


form:hover input{
    display: block;
}


.profile {
  float: left;
  font-size: 18px;
  color: white;
  border-radius: 4px;
  font-family: naz;
  margin-left: 20px;
  margin-top: 4px;
  padding: 7px;
  cursor: pointer;
  font-weight: bold;
  visibility: visible;
}

.profile a{
  padding: 5px;
  display: inline-block ;

}

.profile i{
  font-size: 22px;
  padding-top: 4px;
}

.profile i:hover{
  cursor: pointer;
}

/*    */




.content {
  z-index: 2;
  background: white;
  display: none;
  width: 100%;
  height: 0;
  position: fixed;
  top: 0;

}
.content nav {
  background: lime;
  border-bottom: 1px solid #ddd;
  height: 60px;
  position: relative;
  direction: rtl;
  z-index: 2;
  margin-top: 0px;
  box-shadow: 0 2px 4px rgba(0,0,0,.2);


}
.content .nav-links {
  display: block;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  direction: rtl;

}
.content .nav-links::before {
  background: lime;
  content: '';
  left: 0;
  top: 0;
  height: 159px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  transition: all .3s;
box-shadow: 0 2px 4px rgba(0,0,0,.4);

}
.content .nav-links li {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: all .3s;
  padding: 0;
  direction: rtl;
  margin: 0;
  color: white;
}

.content .nav-links li:not(:last-child) {
}

.content .nav-links li a {
  background: lime;
  color: white;
  display: block;
  font-size: 18px;
  font-weight: 700;
  padding: 12px 20px;
  text-align: left;
  width: 100%;
  direction: rtl;
  text-align: right;
  transition: all .3s;
  text-decoration: none;
}

.content .nav-links li a:hover {
  color: #DC1AE8;
}

.content input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.content input[type="checkbox"]:checked + label {
  border: 4px solid silver;
  border-radius: 50%;
  height: 28px;
  top: 16px;
  right: 18px;
  width: 28px;
  transform: rotate(-135deg);
}
.content input[type="checkbox"]:checked + label::before {
  background: silver;
  top: 8px;
  right: 4px;
  width: 12px;
}
.content input[type="checkbox"]:checked + label::after {
  background: silver;
  opacity: 1;
  top: 8px;
  right: 4px;
  visibility: visible;
  width: 12px;
}
.content input[type="checkbox"]:checked + label:hover {
  border-color: white;
}
.content input[type="checkbox"]:checked + label:hover::before, input[type="checkbox"]:checked + label:hover::after {
  background: white;
}
.content input[type="checkbox"]:checked ~ .nav-links::before {
  opacity: 1;
  visibility: visible;
}
.content input[type="checkbox"]:checked ~ .nav-links li {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.content input[type="checkbox"]:checked ~ .nav-links li:nth-child(1) {
  transition-delay: 0s;
}
.content input[type="checkbox"]:checked ~ .nav-links li:nth-child(2) {
  transition-delay: 0.1s;
}
.content input[type="checkbox"]:checked ~ .nav-links li:nth-child(3) {
  transition-delay: 0.2s;
}
.content input[type="checkbox"]:checked ~ .nav-links li:nth-child(4) {
  transition-delay: 0.3s;
}

.content label {
  background: none transparent;
  border: 4px solid white;
  border-left: 0 solid transparent;
  border-right: 0 solid transparent;
  cursor: pointer;
  display: block;
  height: 24px;
  position: absolute;
  top: 18px;
  right: 20px;
  width: 24px;
  transition: all .2s;
}
.content label::before {
  background: white;
  content: '';
  height: 4px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 24px;
  transition: all .2s;
}
.content label::after {
  background: white;
  content: '';
  height: 4px;
  left: 0;
  position: absolute;
  top: 6px;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  transform: rotate(90deg);
  transition: all .2s;
}
 .content  h3 {
    font-family: naz;
    font-weight: bolder;
    width: 50%;
    margin: 0px auto;
    padding-top: 19px;
    color: white;
    text-align: center;
    font-size: 1.17rem;
  }
.content form{
    position: relative;
    top: -42px;
    left: 2px;
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: lime;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
    float: left;
    transform: scale(.7, 0.7);
}

.content form input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    font-family: naz;
    padding-right: 50px;
    padding-left: 10px;
}

.content .fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-size: 1.2em;
    transition: all 2s;
}

.content form:hover{
    width: 93%;
    cursor: pointer;
    transform: scale(1, 1);
}

.content form:hover input{
    display: block;
}

.content form:hover .fa{
    color: white;
  background: lime;

}




.Modal {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 59px;
  background-color:rgba(0,0,0,.7);
  overflow: auto;
}

.progress-bar {
  font-weight: bold;
  letter-spacing: 2px;
}

/*    */
  .nav a {
    direction: rtl;
    font-family: naz;
    color: #DC1AE8;
  }

.nav a.active{
  background-color: #DC1AE8;
}

.nav a:hover {
  color: lime;
}

/* not active */

.nav-pills .nav-item  {
border-right: 1px solid lime;
border-top: 1px solid lime
}

.nav-pills .nav-link{

}

.nav-pills .pill-1  {
border-left: 1px solid lime;

}


/* active (faded) */

.nav-pills .nav-item .active {

  border-radius: 0;
}

.nav-pills .pill-1 .active {
  background-color: lime;
  color: white;
  border-radius: 0;
}

.nav-pills .pill-2 .active {
  background-color: lime;
  color: white;}

.nav-pills .pill-3 .active {
  background-color: lime;
  color: white;
}


.nav-pills .pill-4 .active {
  background-color: lime;
  color: white;}

.nav-pills .pill-5 .active {
  background-color: lime;
  color: white;
}

hr {
  background-color: lime;
}

h3,p{
  font-family: naz;
  direction: rtl;
}

.datasheet li{
  border-bottom: 1px solid white;
  direction: rtl;
  padding: 5px;

}



      .versions h4{
        font-family: naz;
        direction: rtl;
        color: #DC1AE8;
        padding: 5px;

      }

.item {
  border-right: 1px solid white;
}

.versions .item a{
  border: 1px solid silver;
  display: inline-block;
  width: 100%;
  padding: 8px;
  margin-bottom: 0;
  color: white;
  font-family: naz;
  direction: rtl;
  background-color: #6c757d;
  font-weight: bold;
}

.item a span{
  color: white;
}

.item a:hover{
  transform: translateY(-1px);
box-shadow: 0 2px 4px rgba(0,0,0,.2);

}

.item a span:nth-child(2){
  font-weight: normal;
  color: silver;
}

.versions .row {

}

button a{
  text-decoration: none;
  color: white;
  display: block;
  width: 100%;
  text-align: center;
}

button a:hover{
  color: white;
  text-decoration: none;
}





   #myModal2   a{
        text-decoration: none;
        font-family: naz;
        direction: rtl;
        color: #DC1AE8;

      }
   #myModal2 a:hover{
      color: lime;
      text-decoration: none;
    }
    #myModal2  li {
        direction: rtl;
        color: lime;
      }


     #myModal2 h4{
        position: relative;
        right: -45px !important;
     }


   #myModal3   a{
        text-decoration: none;
        font-family: naz;
        direction: rtl;
        color: #DC1AE8;

      }
   #myModal3 a:hover{
      color: lime;
      text-decoration: none;
    }
    #myModal3  li {
        direction: rtl;
        color: lime;
      }
     #myModal3 h4{
        position: relative;
        right: -45px !important;
     }

    .comment,.question {
      border-top-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }
    .comment-info  img {
        width: 15px;
        height: 15px;
        opacity: .8;
      }
     .comment-info .date ,p,.name {
        direction: rtl;
        font-family: naz;
      }
    .comment  .name ,.comment .date  {
        font-size: 15px;
        padding-top: 4px;
        color: silver;
      }

.vs {
  font-size: 15px;
  color: silver;
  font-family: naz;
  padding-bottom: 4px;
  direction: rtl;
}


     .user-icon {
     }
   .comment .user-icon i{
      font-size: 35px;
      color: #DC1AE8;
      padding: 1px;

    }
      .all-comments {
          color: #DC1AE8;
          border-bottom: 1px dashed #DC1AE8;
          direction: rtl;
      }

      .all-comments i{
      }
      .all-comments:hover {
          color: lime;
          text-decoration: none;
      }
    .questions {

    }
  .question .user-icon i{
      font-size: 35px;
      color: #DC1AE8;
    }

    .question .date ,.question p,.name {
        direction: rtl;
        font-family: naz;
      }
    .question-info .name ,.question-info .date ,.question-info .name span{
        font-size: 15px;
        padding-top: 7px;
        color: silver;
      }
      .question  .user-icon {
            padding: 2px 2px;
        }

    .reply-info .name ,.reply-info .date ,.reply-info .name span{
        font-size: 15px;
        padding-top: 7px;
        color: silver;
      }


#full-stars-example-two {
  /* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
  /* make hover effect work properly in IE */
  /* hide radio inputs */
  /* hide 'none' input from screenreaders */
  /* set icon padding and size */
  /* set default star color */
  /* if any input is checked, make its following siblings grey */
  /* make all stars gold on rating group hover */
  /* make hovered input's following siblings grey on hover */
}
#full-stars-example-two .rating-group {
  display: inline-flex;
}
#full-stars-example-two .rating__icon {
  pointer-events: none;
}
#full-stars-example-two .rating__input {
  position: absolute !important;
  left: -9999px !important;
}
#full-stars-example-two .rating__input--none {
  display: none;
}
#full-stars-example-two .rating__label {
  cursor: pointer;
  padding: 0 0.1em;
  font-size: 2rem;
}
#full-stars-example-two .rating__icon--star {
  color: gold;
}
#full-stars-example-two .rating__input:checked ~ .rating__label .rating__icon--star {
  color: #ddd;
}
#full-stars-example-two .rating-group:hover .rating__label .rating__icon--star {
  color: gold;
}
#full-stars-example-two .rating__input:hover ~ .rating__label .rating__icon--star {
  color: #ddd;
}



 .desc{
  font-family: naz;
  direction: rtl;
  color: gray;
  font-size: 18px;
  margin-top: 15px;
  margin-left: 5px;
 }
  .form-control,button,h3{
    direction: rtl;
    font-family: naz;
  }

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #ccc;
  cursor: pointer;
  padding: 0;
}

#myBtn i {
  font-size: 40px;
}

#myBtn:hover {
  color: lime;
}
/* make header responsive*/
@media  screen and (max-width: 787px) {

.navbar {
  display: none !important;
}

.content {
  display: block !important;
}

.content form:hover{
    width:200px;
    cursor: pointer;
    transform: scale(1, 1);
}

#myBtn i {
}


#myBtn  {
  right: 25px;
  bottom: 5px;
}

}

@media  screen and (max-width: 480px) {

.navbar {
  display: none;
}

.content {
  display: block;
}

.content form:hover{
    width:94%;
    cursor: pointer;
    transform: scale(1, 1);
}

    .comment-info  img {
        width: 12px;
        height: 12px;
        opacity: .6;
      }
   .comment-info   .date ,p,.comment .name {
        direction: rtl;
        font-family: naz;
      }
    .comment  .name ,.comment .date {
        font-size: 10px;
        padding-top: 7px;
        color: silver;
        font-weight: bold;
      }

.vs {
  font-size: 10px;
}

    .comment .user-icon i{
      font-size: 25px;
      color: #DC1AE8;
    }

   .comment p{
      font-size: 13px;
    }

/*    */
   .question-info   .date ,p,.comment .name {
        direction: rtl;
        font-family: naz;
      }
    .question-info  .name ,.question-info .date,.question-info .name span {
        font-size: 11px;
        padding-top: 7px;
        color: silver;
        font-weight: bold;
      }

    .reply-info .name span {
      margin-left: 4px;
    }
    .question-info .name span {
      margin-left: 4px;
    }
   .question .user-icon i{
      font-size: 25px;
      color: #DC1AE8;
    }

   .question p{
      font-size: 13px;
    }



    .reply-box i{
      font-size: 20px;
    }
    .reply-info  .name ,.reply-info .date,.reply-info .name span {
        font-size: 11px;
        padding-top: 7px;
        color: silver;
        font-weight: bold;
      }
    .rate {
      margin-top: 2px;
    }
#myBtn:hover {
  color: #ccc;
}


}
