
.vs {
  font-size: 15px;
  color: silver;
}

.mv {
  border-radius: 5px;
  background-color: transparent;
  outline: none;
  color: lime;
  display: block;
  border: 1px solid lime;
}

.mv a{
  color: lime;
}
.mv:hover {
  background-color: lime;
  color: white;
}

@media  screen and (max-width: 480px) {

.vs {
  font-size: 10px;
}
.nav-pills .nav-link{
  font-size: 13px;
  font-weight: bold;
}

.nav-pills {
  position: relative;
  top: 5px;
}

}
